@media only screen and (max-width: 1200px){
    #header {
        position: absolute;
    }
}

#all {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-width: 1200px;
    min-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    font-family: spoqanmedium, 'Sans-serif', 'Montserrat';
    }

div {
    display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, caption, input, textarea, button {
        margin: 0;
        padding: 0;
    }

body{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #0c0c0c
}

button{
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}



a {
    color: #333;
    text-decoration: none;
}

fieldset, img {
    border: 0 none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.menu {
    position: absolute;
    top: 60px;
    right: 3%;
    z-index: 1111111111;
    display: inline-block;
    white-space: nowrap;
    width: 28px;
    height: 28px;
}

.menu img{
    width: 100%;
    z-index: 1111111111;
}

.ITZY_logo {
    position: absolute;
    top: 53px;
    left: 3%;
    z-index: 1;
    height: 43px;
}

.ITZY_logo img {
    height: 100% !important;
}

#header.profile_header{
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 526px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 999;
    background-color: white;
    background: none;
}

.artist-show {
    position: relative;
    width: 1100px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    z-index: 111;
    padding: 160px 50px 150px 50px;
}

.artist-show > div {
    float: left;
}

.artist-names p {
    margin-bottom: 7px;
}

.artist-names p:hover {
    letter-spacing: 0.25em;
    transition: 0.3s;
}

.artist-names {
    position: relative;
    width: 160px;
    margin-right: 40px;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: right;
}

.artist-profile {
    position: relative;
    width: 80%;
    height: auto;
}

.profile-image {
    position: relative;
    width: 530px;
    height: 675px;
}

.background {
    background-color: #9197a7 !important;
    position: absolute;
    width: 450px;
    height: 590px;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.artist-image {
    position: relative;
    width: 86%;
    margin: 0 auto;
    top: 40px;
    left: 0;
    box-shadow: 15px 15px 20px 0 #bdbcbc;
}

.artist-image img {
    width: 100%;
    object-fit: fill;
    vertical-align: bottom;
}

.artist-desc {
    position: absolute;
    width: 275px;
    bottom: 50px;
    right: 0;
}

.artist-desc .name-big {
    position: relative;
    width: 275px;
    font-size: 25pt;
    font-family: 'Montserrat';
    font-weight: 100;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    word-wrap: break-word;
    word-break: keep-all;
}

.artist-desc .other-desc {
    position: relative;
    font-size: 12pt;
    font-weight: 500;
    margin-top: 10px;
}

#footer {
    position: absolute;
    top : 925px;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    z-index: 111;
    height: 60px;
}

.copyright span {
    color:#009be6;
}

.copyright {
    position: absolute;
    width: 100%;
    bottom: 45px;
    text-align: right;
    right: 3%;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 700;
    color: #000;
}

ul, li {
    list-style: none;
}

.social-media {
    position: absolute;
    bottom: 45px;
    left: 3%;
}

.social-media li:first-child{
    margin-left: 0;
}

.social-media li:first-child:hover{
    margin-left: 5px !important;
}

.social-media li {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.social-media li:hover{
    margin-left: 25px;
    transition: all 0.5s;
}

.social-media li a {
    display: block;
}

.social-media li a img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}